<mat-card class="register-block">
  <mat-card-title class="register-block__title">Sign Up</mat-card-title>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="card register-block__form"
  >
    <mat-card-content class="register-block__fields">
      <mat-form-field appearance="fill">
        <mat-label>Login: </mat-label>
        <input
          matInput
          formControlName="login"
          id="login"
        >
        <mat-error *ngIf="form.get('login').errors?.['required']">
          Login is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email: </mat-label>
        <input
          matInput
          formControlName="email"
          id="email"
          type="email"
        >
        <mat-error *ngIf="form.get('email').errors?.['required']">
          Email is required
        </mat-error>
        <mat-error *ngIf="form.get('email').errors?.['email']">
          Email is incorrect
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password: </mat-label>
        <input
          matInput
          formControlName="password"
          id="password"
          type="password"
        >
        <mat-error *ngIf="form.get('password').errors?.['required']">
          Password is required
        </mat-error>
        <mat-error *ngIf="form.get('password').errors?.['minlength']">
          Password should be at least of {{ form.get('password').errors?.['minlength']['requiredLength'] }} characters
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="register-block__actions">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid || form.disabled"
      >
        Sign In
      </button>

    </mat-card-actions>
  </form>
</mat-card>
