.register-block {
  display: inline-block;
  width: 400px;

  &__title {
    text-align: center;
  }

  &__fields {
    display: flex;
    flex-direction: column;
  }

  &__actions {
    text-align: center;
  }
}

.custom-dropdown {
  padding-bottom: 1.34375em;
}
