.lobby {
  &__actions {
    display: flex;
    justify-content: flex-end;
  }
}

.lobby-rooms {
  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.room {
  display: flex;
  width: 100%;
  justify-content: space-between;
  transition: background-color 0.1s ease-in-out;
  padding: 10px 0;

  &:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }
}
