<div class="container">
  <h1>Chat App</h1>
  <div class="chatbox">
    <div class="chatbox__user-list">
      <h2>user List</h2>
      <div class="chatbox__user--active" *ngFor="let user of userList">
        <p>{{ user }}</p>
      </div>
    </div>
    <div class="message__list">
      <div
        class="chatbox__messages"
        *ngFor="let msg of messageList"
        [ngClass]="{
          mine: msg.myMessage
        }"
      >
        <div class="user-message">
          <div class="message-box">
            <p class="name">
              {{ msg.userName }}
            </p>
            <p class="message">
              {{ msg.message }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <input type="text" [(ngModel)]="message" />
  <button (click)="sendMessage()">Send</button>
</div>
